*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222;
}

.container{
    margin: 0 30vw;
    border: 1px solid gray;
    height: 100vh;
    border-radius: 5px;
    display: grid;
    background-color: aliceblue;
    /* background-image: url(image/color\ teacher\ bg.png); */
    /* background-image: linear-gradient(gray to white); */
    padding: 10px;
}

fieldset {
    border: none;
    font-size: .7rem;
    display: flex;
    /* padding: 5px; */
    justify-content:center;
    gap: 3px;
}



@media only screen and (max-width : 700px) {
    .container{
        margin: 0 10vw;
    }
}

#lower-section{
    background-color: white;
    border-radius: 15px 15px 10px 10px;
    box-shadow: 0px -2px 15px 3px rgba(11, 0, 29, 0.148);
}

header{
    height: 33vh;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
}

#color-box{
    height: 70px;
    width: 150px;
    /* background-color: red; */
    margin: 10px auto;
}

main{
    height: 60vh;
    display: grid;
    justify-items: center;
    gap: 5px;
    padding: 20px 0;
}

#main-h3{
    text-align: center;
}

.art-board{
    border: 1px solid grey;
    padding: 0.3px;
    /* display: inline-block; */
    margin: 0 auto;
}

.row{    
    display: flex;
    border-color: green;
}
.col{
    height: 30px;
    width: 50px;
    /* background-color: red; */
    margin: 0.5px;
    cursor:pointer;
}


header > button{
    padding: 10px;
    font-size: 1rem;
    align-self: stretch;
    background: none;
    border: none;
    font-size: 1.5rem;
}

header > button:hover {
    background-color: aliceblue;
}

#answer-box{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 1px auto;
}

#answer-box button{
    padding: 5px;
}

hr{
    opacity: .3;
    width: 80%;
    text-align: center;
}

footer{
    display: grid;
    justify-items: center;
    gap: 5px;
    padding-bottom: 5px;
}